<!-- Herencia desde base -->
{% extends 'base/base.html' %}

<!-- Carga de archivos estaticos -->
{% load static %}

<!-- Titulo de pagina -->
{% block title %}
Dashboard - DEMO | Cloud Manager | Conviction
{% endblock title %}

<!-- Bloque JS -->
{% block script %}

{% endblock script %}

<!-- Bloque de contenido -->
{% block content %}

{% include 'base/nav.html' %}

<main class="container mx-auto pt-28 mb-48">

    <section class="flex justify-center">
        <div>
            <h1 class="text-center text-black font-exo text-6xl mb-2">
                clou<span class="text-green-500 font-rale">DM</span>anager - Demo
            </h1>
            <p class="text-center text-black text-2xl mb-2">{{ enterprise.name }}</p>
        </div>
    </section>

    
</main>

{% include 'base/footer.html' %}

{% endblock content %}