{% load static %}
<!DOCTYPE html>
<html lang="es" class="relative min-h-[100%]">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/toogle.js' %}"></script>
    {% block script %}{% endblock script %}
</head>
<body class="m-0">

    
    {% block content %}
        
    {% endblock content %}
        
    
</body>
</html>