<footer class="absolute bottom-0 w-full bg-gray-800 text-white">
    <div class="container mx-auto px-4 py-8">
        <div class="flex flex-col md:flex-row justify-center items-center">
            <div class="mt-4 md:mt-0">
                <p class="text-sm">© 2024 clouDManager. Todos los derechos reservados.</p>
                <div class="flex space-x-4 mt-2">
                    <a href="#" class="hover:text-green-600"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="hover:text-green-600"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="hover:text-green-600"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>