{% extends 'base/base.html' %}

{% load static %}

{% block title %}
Sensores - DEMO | Cloud Manager | Conviction
{% endblock title %}

{% block script %}
<!-- Puedes agregar scripts adicionales aquí si es necesario -->
{% endblock script %}

{% block content %}

{% include 'base/nav.html' %}

<main class="h-screen container mx-auto py-10 px-4 lg:px-0">
    <section class="flex justify-center pt-10">
        <div>
            <h1 class="text-center text-black font-exo xl:text-4xl">
                clou<span class="text-green-500 font-rale">DM</span>anager - Demo
            </h1>
            <p class="text-center text-black text-xl">{{ enterprise.name }} - {{ locate }} - {{ sensor }}</p>
        </div>
    </section>

    <section class="mt-12 mx-12">
        <div class="flex gap-10 flex-shrink-1">
            
            
        </div>
    </section>
</main>

{% include 'base/footer.html' %}

{% endblock content %}
